/* 🎨 assets/CSS/customs.css */

kbd {
    text-wrap: nowrap;
}

#cparent {
 position: relative;
 width: 0;
 height: 0;
}
#cmsg {
 position: absolute;
 top: 20px;
 left: 10px;
 width: 160px;
 padding: 6px;
 border: 4px solid #aaa;
 background-color: #eee;
 text-align: center
}
#cmsg:hover { opacity: 0.5 }

@font-face {
    font-family: 'SoulPapa';
    src: url('../MEDIA/soulpapa-webfont.woff2') format('woff2'),
         url('../MEDIA/soulpapa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#navbar {
    height: 60px;
    background-color: #000;
    z-index: 2001;
}

.navbar-brand {
    font-family: 'SoulPapa', Montserrat, Arial, sans-serif;
    font-size: 4rem;
    cursor: crosshair;
}

.csvFileName {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 150px); /* Adjust as needed */
    height: 100%;
    border: none;
    background: transparent;
    color: #495057;
    padding-left: 1rem;
    display: none; /* Initially hidden */
}

.slider {
    display: block;
    height: 90vh;
    width: 5px;
    margin: 0 1rem;
    background-color: #000;
    overflow: visible;
    user-select: none;
}

.slider::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1.5rem;
    width: 0.5rem;
    background-color: #000;
    cursor: col-resize;
}

.placeholder {
    color: #e0e0e0;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.placeholder-glow .placeholder {
    animation: glow 1.5s infinite;
}

#autoSaveIndicator {
    display: flex;
    align-items: center;
}

#autoSaveText {
    margin-right: 0.5rem;
}

#autoSaveIcon {
    font-size: 1.2rem;
}

.autosaving {
    animation: blink 1s infinite;
}

.autosaved {
    animation: fadeOut 5s forwards;
}

.tooltip-inner {
    text-align: left;
}

/* UTILITIES */

#alert-container {
    position: fixed;
    bottom: 42px;
    right: 20px;
    width: auto;
    z-index: 1050;
}

@keyframes glow {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        height: 0;
    }
    100% {
        height: 60vh;
    }
}

@keyframes slideUp {
    0% {
        height: 60vh;
    }
    100% {
        height: 0;
    }
}

/* STATS PANEL */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
/*  min-height: 100vh;*/
  padding-top: 76px;
  margin-left: 0; /* Sidebar repliée par défaut */
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: -15rem; /* Sidebar dépliée quand le corps a la classe sb-sidenav-toggled */
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: -15rem; /* Sidebar repliée par défaut sur les écrans larges */
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0; /* Sidebar dépliée quand le corps a la classe sb-sidenav-toggled sur les écrans larges */
  }
}

/*  */

/* Animation for the backdrop */
.offcanvas-backdrop.fade {
    transition: opacity 0.3s ease-in-out;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

/* Animation for the offcanvas sliding up */
.offcanvas.offcanvas-bottom {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.offcanvas.offcanvas-bottom.show {
    transform: translateY(0);
}

/* Custom slide down animation for closing */
.offcanvas.offcanvas-bottom.closing {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.offcanvas-bottom-custom {
    height: 69vh !important;
}


/* DETAILS */

#details {
    padding: 20px;
    overflow-y: auto;
    display: none; /* Initially hidden */
}

.b-title {
    background-color: #f88012!important;
}

.b-card {
    float: inline-end;
}

.badge.framework {
    background-color: #f88012!important;
}

.badge.level1 {
    background-color: #ea4335!important;
}

.badge.level2 {
    background-color: #fbbc04!important;
}

.badge.level3 {
    background-color: #34a853!important;
}

.badge.level4 {
    background-color: #fbbc04!important;
}

.badge.domain {
    background-color: #007bff!important;
}

.badge.value {
    background-color: #28a745!important;
}

.badge.concept {
    background-color: #17a2b8!important;
}

.badge.outcome {
    background-color: #ffc107!important;
}

.cross-ref-btn {
    margin: 0.2em;
    font-size: 0.85em;
}

/* TREE */

#tree {
    overflow-y: auto;
    display: none; /* Initially hidden */
}

.jstree-icon {
    display: none;
}

.jstree-anchor {
    color: #007bff;
}

/* STATISTICS */

#statistics {
    margin-top: 1rem;
}

#statistics .card {
    margin-bottom: 1rem;
}

#statistics > div:nth-child(2) > div > div.card-body {
    min-width: 100%;
    align-self: center;
}

#stats-chart {
    max-width: 100%;
    height: auto;
}

#tagcanvas {
    width: 100%!important;
    background-color: black;
    border: 1px solid black; /* Juste pour s'assurer que le canvas est visible */
    opacity: 0; /* Opacité initiale à 0 */
    animation: fadeIn 3s ease-in-out 2s forwards; /* Définir l'animation */
}

@keyframes fadeIn {
  0% { opacity: 0; } /* Démarrer à 0% d'opacité */
  100% { opacity: 1; } /* Atteindre 100% d'opacité */
}

.tag-tooltip {
    padding: 4px;
    max-width: 10vw;
    background-color: #beebff;
    border: 1px solid #bae2f4;
    border-radius: 1px;
    white-space: pre-wrap;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    /* scrollbar-color: #f27f22 #ffffff; */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
