body {
    padding: 20px;
}
#tree {
    overflow-y: auto;
    display: none; /* Initially hidden */
}
#details {
    padding: 20px;
    overflow-y: auto;
    display: none; /* Initially hidden */
}
.jstree-icon {
    display: none;
}
.jstree-anchor {
    color: #007bff;
}
.placeholder {
    color: #e0e0e0;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
.placeholder-glow .placeholder {
    animation: glow 1.5s infinite;
}
@keyframes glow {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.cross-ref-btn {
    margin: 0.2em;
    font-size: 0.85em;
}
#alert-container {
    position: fixed;
    bottom: 42px;
    right: 20px;
    width: auto;
    z-index: 1050;
}
.csvFileName {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 150px); /* Adjust as needed */
    height: 100%;
    border: none;
    background: transparent;
    color: #495057;
    padding-left: 1rem;
    display: none; /* Initially hidden */
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5a0cb9 #ffffff;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: #5a0cb9;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.slider {
/*    z-index: 999999;*/
    display: block;
    height: 90vh;
    width: 5px;
    margin: 0 1rem;
    background-color: #5a0cb9;
    overflow: visible;
    user-select: none;
}

.slider::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1.5rem;
  width: 0.5rem;
  background-color: #5a0cb9;
  cursor: col-resize;
}